/* navbar */
.tb-title {
  margin-left: 24px;
  font-size: 22px;
  font-weight: 300;
}

/* Google Maps */
.vue-map-container {
  width: 100%;
  height: 100%;
}
.vue-map-container .vue-map {
  width: 100%;
  height: 100%;
}

/* Progress bar */
#nprogress .bar {
  height: 4px !important;
  background: #27c4f5
    linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5) !important;
  background-size: 500% !important;
  animation: 2s linear infinite barprogress, 0.3s fadein !important;
  width: 100% !important;
}

#nprogress .spinner-icon {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
}

@keyframes barprogress {
  0% {
    background-position: 0% 0 !important;
  }
  to {
    background-position: 125% 0 !important;
  }
}